.activ{
  color: #464754;
}


.In_box {
  width: 32%;
  height: 317px;
  background: #fff;
  border-radius: 2rem;
  margin-right: 1.3%;
  float: left;
  margin-bottom: 3%;
}

.outer_box{
  width: 100%;
    clear: both;
    overflow: hidden;

}
/* ------------content--------------------- */
.fl-left{
  float: left;
}
.fl-right{
  float: right;
}

.box_1{
  padding: 20px 40px;
}
.img_top_right_title{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 120%;
/* or 19px */



/* Light/Text/Normal */

color: #464754;
}


.box_1{padding:22px 21px 23px 21px;}

.img_top_right.fl-left{width: 47px;
  float: left;}


 
.img_top_right{width: 47px;float: left;}


.img_top_right_title{    width: 170px;
  float: left;
  margin-left: 14px;}

  .img_top_right_title p{    font-size: 16px;
  float: left;
  width: auto;
  margin-right: 8px;
  margin-bottom: 0px;}


.inner_img_top_right_button{    
  background: #E56060;
  padding: 0 10px;
  color: #fff;
  border-radius: 10px;}


.img_bottom_right_title span{  background: #F5F1EB;
  padding: 0 10px;
  display: inline-block;
  color: #807373;
  font-size: 11px;
  border-radius: 4px;
  font-weight: normal;margin-right:2px;
  font-size: 10px;
  line-height: 16px;}


.inner_img_top_right_button{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 100%;
/* identical to box height, or 10px */

letter-spacing: 0.02em;

/* Light/BG/White */

color: #fff

}
.top_back p{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 120%;
/* or 14px */

letter-spacing: 0.02em;

/* Light/Text/Semi */

color: #807373;
}
.middle-title-left{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;


letter-spacing: 0.02em;



color: #807373;

}

.middle-title-right{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;


letter-spacing: 0.02em;
text-transform: capitalize;

color: #464754;
}
.clear{
  clear: both;
    overflow: hidden;
}
.middle-title-left_ti{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 12px;


letter-spacing: 0.02em;



color: #807373;
}
.middle-title-right_ti{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 12px;



letter-spacing: 0.02em;


color: #A69F9F;
}
.box1,.box2,.box3,.box4,.box5{
  padding: 2px 26px
}
.rip{
  line-height: 40px;
}
.middle-title-right_bi{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 16px;

color: #464754;
}
.middle-title-left_bi{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 16px;
color: #A69F9F;
}
.middle-title-left_bi span{
  color: #464754;
}
.bottom-title-left_bi{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;

color: #807373;
}
.bottom-title-right_bi{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;

color: #C89211;
}
.box6{
  margin-top: 20px;
  background: #fdf8ef;
 
  border-radius: 0px 0px 30px 30px;
  padding: 13px 19px;
}
.w3-container{
  width:25%
}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
  color: #000!important;
  background-color: #F5F1EB;
  border-radius: 5px;

}
.w3-green, .w3-hover-green:hover {
  color: #fff!important;
  background: linear-gradient(270.01deg, #C89C34 8.72%, #FFBB1C 78.42%);
  border-radius: 5px;
}

.form-block{margin-left:300px; width:75%}

#demos{margin-right:1%;     padding: 30px 0 30px 0;
}

.outer_box_1{
background: #F5F1EB;
border-radius: 6px;
margin-bottom: 20px;

}

.inner_box1,.inner_box2,.inner_box3{
  padding: 8px 25px;

}
.inner_box1 a,.inner_box2 a,.inner_box3 a{
  text-decoration: none;
}

.inner_box1{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 14px;
letter-spacing: 0.02em;
color: #464754;
background: #fff!important;
border-radius: 6px;
}
.inner_box2,.inner_box3{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 14px;
letter-spacing: 0.02em;
color: #A69F9F;
}

.outer_box_2 {
  margin-left: 15px;
  background: #FFF;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  
  letter-spacing: 0.02em;
  border-radius: 6px;
  color: #807373;
}

.outer_box_3 .inner_option{
  margin-left: 15px;
    background: #FFF;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
    border-radius: 6px;
    color: #807373;
    height: 39px;
}
.inner_radio_text{
  padding: 8px 60px 8px 20px;
}
.outer_box_4{
  margin-left: 15px;
}
.outer_box_4 form input {
  margin-left: 15px;
  padding: 8px 196px 8px 20px;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 14px;
background: #F5F1EB;
border: 2px solid #FFFFFF;
border-radius: 6px;

letter-spacing: 0.02em;

color: #A69F9F;
}

.outer_box_4 button{
  background: none;
  border: none;
  position: absolute;
  right: 15px;
  top: 7px;
}
.outer_box_4 form{position: relative}
.fl-container{    clear: both;
  overflow: hidden;
  margin-right: 1.5%;}

/* .outer_box_1{
  width: 30%;
  overflow: hidden;
}
.outer_box_2{
  width: 16%;
  overflow: hidden;
}
.outer_box_3{
  width: 16%;
  overflow: hidden;
}
.outer_box_4{
  width: 30%;
  overflow: hidden;
} */

/* new pages----------------------------------- */
.contain{
  width: 65%;
  height: auto;
  background: #fff;
  border-radius: 10px;
  margin-right: 1.3%;
  float: left;
  /* margin-bottom: 3%; */
  /* margin-left: 24%; */
}
.contain-right{
  width: 32%;
  height: auto;

  /* float: right; */

}

.contain2{  background: #fff;
  border-radius: 10px;
  margin-right: 1.3%;
  padding: 35px;margin-bottom:20px;

}


.block-right{
  margin-top: 2%;
  
}
.block-right img{
  padding-right: 20px;
}
.block_middle-2 p{
  padding: 7px 44px;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;


letter-spacing: 0.02em;



color: #807373;
}
.block_section_3_bg{
  padding: 6px 6px;
  margin-left: 40px;
  background: #F5F1EB;
  margin-right: 38px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  border-radius: 6px;
  color: #807373;
text-align:center

}
.img_top_right_title_block_1 p{ 
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 120%;
float: left;
margin-right: 7px;
padding: 5px 0 0px 0;
/* or 19px */



/* Light/Text/Normal */

color: #464754; 
}

.contain_block_1.fl-left
{width: 56%;
}

.img_top_right_title_block_1{
  float: left;
  margin-left: 4%;
  width: 73%;
}

.inner_img_top_right_button_block_1{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #fff;
  background: #E56060;
  padding: 0 10px;
  color: #fff;
  border-radius: 10px;
  margin-top: -7px;
  float:none;
  display: inline-block;
}
.img_bottom_right_title_block_1 span{  background: #F5F1EB;
  padding: 0 10px;
  display: inline-block;
  color: #807373;
  font-size: 11px;
  border-radius: 4px;
  font-weight: normal;margin-right:2px;
  font-size: 10px;
  line-height: 16px;
}

.block_section_1{
padding: 30px 40px;

}

.block_section_3_bg div{
  width: 33%;
  padding: 6px 0;
  border-radius: 8px;
}
.contain1_block_section_3{
  background: #fff;
}
.inner_section_4_a{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

letter-spacing: 0.02em;

/* Light/Text/Semi */

color: #807373;
}

.contain2_section3_bar.fl-left{width:100%}
.contain2_section3_bar.fl-left .box3{
  width: 100%;
  padding: 0;
  margin-top: 10px;
}


.contain2_section2_sub1{margin-right: 7px;
  margin-top: 6px;}

.inner_section_4_b{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 14px;
text-align: right;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #464754;
}
.inner_section_4_b span{
  font-weight: 500;
  font-size: 14px;
  color: #000;
}
.block_section_4 {
  padding: 20px 53px
}
.section_set_1{
  padding-top: 10px;
}

/* content2 */
.contain2_section1_sub1{
 
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

letter-spacing: 0.02em;

/* Light/Text/Semi */

color: #807373; 
}
.contain2_section1_sub2{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #00783F;
  padding: 3px 12px;
background: rgba(0, 120, 63, 0.08);

border: 0.5px dashed #00783F;
border-radius: 10px;

}
.contain2_section2_sub2 {
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 25px;

letter-spacing: 0.02em;


color: #464754;
}

.contain2_section3_sub1{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

letter-spacing: 0.02em;

/* Light/Text/Semi */

color: #807373;
}
.contain2_section3_sub2{

font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

letter-spacing: 0.02em;

/* Light/Text/Normal */

color: #464754;
}
.pg30{
  padding-top: 20px;
}
.pg20{
  padding-top: 15px;
}
.contain2_section3_sub1_sm1{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 12px;

letter-spacing: 0.02em;


color: #807373;
}


/* app3====================================== */
.contain_section5_timer_day {width: 24%;
  float: left;
  text-align: Center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #807373;
}
.contain_section5_timer_dot{width:1%; text-align:center; float:left}

.contain_section5_timer_day span{    font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  /* line-height: 120%; */
  letter-spacing: 0.02em;
  color: #A69F9F;
  margin-top: 20px;}
/*  */
.contain2_section3_sub2_sm2{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 12px;

letter-spacing: 0.02em;


color: #A69F9F;
}
.contain2_section4_middle button{
  padding: 13px 0px;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #FFFFFF;
background: #00783F;
border-radius: 6px;
border: none;
cursor: pointer;
width: 100%;
}
.contain2_section4_middle_button_red button{
  padding: 13px 0px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #E56060;
  border-radius: 6px;
  border: none;
  width: 100%;
}
.clear.mar-22{
  margin-bottom: 8%;
}
.w3-center_right{
  text-align: right !important;
}
.w3-container_75{
  width: 75%;
}
.contain2_section4_middle{
  padding-top: 15px;
}
.contain2_section5{
  padding-top: 15px;
}
.contain_section5_middle{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #807373;
text-align: center;
}
.hr_inner hr{
  opacity: 0.3;

border: 1px dashed #A69F9F;
}

/* pages3--------------- */
.contain3{
  width: 30%;
  height: auto;
  background: #fff;
  border-radius: 10px;
  margin-right: 1.3%;
  padding: 35px;
  margin-top: -22%;
  
  /* float: right; */

}
.contain3_section_heading{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;


letter-spacing: 0.02em;
text-transform: capitalize;

text-align: center;

color: #00783F;
}
.contain3_section_heading hr{

align-items: center;
  opacity: 0.5;
border: 1px solid #00783F;
}
.contain3_section_subpart1 {

font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #807373;
}
.contain3_section_subpart2{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 120%;
text-align: right;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #464754;
}
.pd-20px{
  padding-bottom: 0px;
}
.contain3_section_inner_block hr{
  opacity: 0.3;
border: 1px dashed #A69F9F;
}
.contain3_section_middle button{
  padding: 13px 0px;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #FFFFFF;
background: #00783F;
border-radius: 6px;
border: none;
width: 100%;
}

/* pages 4-------------------- */
.contain2_section4_middle_black button{
  padding: 13px 0px;
  width: 100%;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #FFFFFF;
background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #A69F9F;;
border-radius: 6px;
border: none;
}
.contain3_section_middle_done button{
  padding: 13px 0px;
  width: 100%;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #FFFFFF;
border-radius: 6px;
border: none;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #00783F;;
}
.contain2_section1_sub2_end{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #464754;
  padding: 3px 12px;
  background: rgba(70, 71, 84, 0.08);


border: 0.5px dashed #464754;
border-radius: 10px;
}
.tet_dec a{
  text-decoration: none ;
}
/* pages 5-------------------- */
.contain2_section_red_whil{
  
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  
  text-align: center;
  letter-spacing: 0.02em;
  
  
  color: #E56060;
  
  }
  .app5_contain2_section4_middle_join button{
    padding: 13px 0px;
    font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #00783F;
  border-radius: 6px;
  border: none;
  width: 100%;
  }
  
  /* page6--------------------  */
  .app6_form_section_button button{
    background: #00783F;
border-radius: 6px;
padding: 15px 40px;
width: 100%;
border: none;
font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #FFFFFF;
  }
  
  .form_section_radio{
      width: 60%;
      height: auto;
      background: #fff;
      border-radius: 10px;
      margin-right: 1.3%;
      padding: 35px;
     
      clear: both;
      overflow: hidden;
      margin: 0 auto;
  
  }
  
  .label input{margin-top:15px}
  
  
    .label {
      border: 1.5px solid rgba(166, 159, 159, 0.5);
      border-radius: 8px;
      width: 47%;
      padding: 10px 20px;
      margin-top: 25px;
  
  }
  .label label{
    font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  
  letter-spacing: 0.02em;
  text-transform: capitalize;
  
  /* Light/Text/Normal */
  
  color: #464754;
  }
  
  
  /* pages 7--------------------------- */
  .container_app7{
    margin-top: 10%;
    height: auto;
    width: 320px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
  }
  .app7_contain_section {
    background: #fff;
    border-radius: 10px;
    float: left;
    padding: 20px;
    width: 320px
}
  .app7_join_pool{
    font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #464754;
  }
  .app7_close{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
    
    color: #464754;
  }
  .app7_close a{
    text-decoration: none;
  }



  
  .app7_from{
    font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  /* Light/Text/Normal */
  
  color: #464754;
  line-height: 34px;
  
  }
  
  .app7_RBA {
    
    padding: 4px 104px 4px 10px;
    background: #FAF8F5;
  border-radius: 6px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #464754;
  }
  .app7_RBA img{
    padding-right: 4px;
  }
  .app7_contain_section_block_2{
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .app7_amount{
    font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #807373;
  }
  .app7_balance{
    font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.001em;
  color: #A69F9F;
  }
  .appy7_contain_section_block_4{
    padding: 10px;
    background: #F5F1EB;
  border-radius: 6px;
  }
  .app7_num{
    font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #464754;
  }
  .app7_half{
    background: rgba(194, 157, 70, 0.08);
    border-radius: 2px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #C89211;
    padding: 2px 16px;
    width: 60px;
    text-align: center;
  }
  .app7_num2{
    font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #807373;
  }
  .app7_max{
    background: rgba(0, 120, 63, 0.08);
  border-radius: 2px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #00783F;
  opacity: 0.7;
  padding: 2px 16px;
  }
  .app7_hr_rotate90 hr{
    border: 1px dashed #A69F9F;
    width: 40%;
    height: auto;
  /* transform: rotate(90deg); */
  }
  .app7_contain_middle_translogo img{
    margin-left: 40%;
  }
  .app7_logo_hei img{
    width: 24px;
      height: 20px;
  }
  .app7_dolend{
    font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #807373;
  }
  
  .app7_contain_bottom_section_middle button{
    padding: 13px 114px;
    width:100%;
    background: #00783F;
    border-radius: 6px;
    border: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 5%;
  }
 
  
  /* page8 ====---------------- */
  /* .app8_top-right-nav{
    padding: 13px 20px;
  background: #FFFFFF;
  border-radius: 6px;
  } */
  .app8_button_admin_edit button{
    padding: 8px 23px 6px 18px;
    border: none;
    background: #fff;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #464754;
    border-radius: 7px;
    line-height: 38px;
  }
  .swih {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 23px;
    margin: 8px 0 0 13px;
    float: right;
  }
  
  .swih input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slid {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slid:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slid {
    background-color: #00783F;
  }
  input:checked + .slid:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slid.round {
    border-radius: 34px;
  }
  
  .slid.round:before {
    border-radius: 50%;
  } 

/**/
.app8_button_admin_edit button{
  padding: 8px 23px 6px 18px;
  border: none;
  background: #fff;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #464754;
  border-radius: 7px;
  line-height: 38px;
}
/* page 9-------------------------- */
.app9_pdtp_10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.app9_pdtp_10 hr{
  margin-top: 13%;
}
.app9_contain2{
  width: 30%;
    background: #fff;
    border-radius: 10px;
    margin-right: 1.3%;
    padding: 35px;
    margin-bottom: 20px;
  
  }
.app9_contain3_section_middle_done button{
  padding: 13px 0px;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #464754;
border-radius: 6px;
border: none;
background: #cbcbce;
width: 100%;
}
.app9_edit{
  padding: 10px 20px;
background: rgba(0, 120, 63, 0.08);
border-radius: 6px;
}
.app9_edit img{
  padding-right: 10px;
}
.app9_edit{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;
text-align: center;

letter-spacing: 0.02em;
text-transform: capitalize;



color: #00783F;

opacity: 0.7;

}
.contain3_section_subpart2.pd-20px.fl-right hr{
  margin-top: 32px;
}

/* page 10 -------------------- */

.app10_section_heading_middle{
font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;

letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;


color: #00783F;
} 
.app10_section_heading_middle hr{
opacity: 0.5;
/* Primary */

border: 1px solid #00783F;
}
.app10_contain2_section1_inner_a{
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;

letter-spacing: 0.02em;

/* Light/Text/Semi */

color: #807373;
text-align: center;
}
.app10_contain2{
width: 30%;
background: #fff;
border-radius: 10px;
margin-right: 1.3%;
padding: 35px;margin-bottom:20px;

}
.app10_contain2_section1_inner_b.fl-right img{
  padding-right: 5px;
}
