
.In_box {
  width: 32%;
  height: 317px;
  background: #fff;
  border-radius: 2rem;
  margin-right: 1.3%;
  float: left;
  margin-bottom: 3%;
}

.outer_box{
  width: 100%;
    clear: both;
    overflow: hidden;

}
/* ------------content--------------------- */
.fl-left{
  float: left;
}
.fl-right{
  float: right;
}

.box_1{
  padding: 20px 40px;
}
.img_top_right_title{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 120%;
/* or 19px */



/* Light/Text/Normal */

color: #464754;
}


.box_1{padding:22px 21px 23px 21px;}

.img_top_right.fl-left{width: 47px;
  float: left;}


 
.img_top_right{width: 47px;float: left;}


.img_top_right_title{    width: 170px;
  float: left;
  margin-left: 14px;}

  .img_top_right_title p{    font-size: 16px;
  float: left;
  width: auto;
  margin-right: 8px;
  margin-bottom: 0px;}


.inner_img_top_right_button{    
  background: #E56060;
  padding: 0 10px;
  color: #fff;
  border-radius: 10px;}


.img_bottom_right_title span{  background: #F5F1EB;
  padding: 0 10px;
  display: inline-block;
  color: #807373;
  font-size: 11px;
  border-radius: 4px;
  font-weight: normal;margin-right:2px;
  font-size: 10px;
  line-height: 16px;}


.inner_img_top_right_button{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 100%;
/* identical to box height, or 10px */

letter-spacing: 0.02em;

/* Light/BG/White */

color: #fff

}
.top_back p{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 120%;
/* or 14px */

letter-spacing: 0.02em;

/* Light/Text/Semi */

color: #807373;
}
.middle-title-left{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;


letter-spacing: 0.02em;



color: #807373;

}

.middle-title-right{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;


letter-spacing: 0.02em;
text-transform: capitalize;

color: #464754;
}
.clear{
  clear: both;
    overflow: hidden;
}
.middle-title-left_ti{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 12px;


letter-spacing: 0.02em;



color: #807373;
}
.middle-title-right_ti{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 12px;



letter-spacing: 0.02em;


color: #A69F9F;
}
.box1,.box2,.box3,.box4,.box5{
  padding: 2px 26px
}
.rip{
  line-height: 40px;
}
.middle-title-right_bi{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 16px;

color: #464754;
}
.middle-title-left_bi{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 16px;
color: #A69F9F;
}
.middle-title-left_bi span{
  color: #464754;
}
.bottom-title-left_bi{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;

color: #807373;
}
.bottom-title-right_bi{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;

color: #C89211;
}
.box6{
  margin-top: 20px;
  background: #fdf8ef;
 
  border-radius: 0px 0px 30px 30px;
  padding: 13px 19px;
}
.w3-container{
  width:25%
}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
  color: #000!important;
  background-color: #F5F1EB;
  border-radius: 5px;

}
.w3-green, .w3-hover-green:hover {
  color: #fff!important;
  background: linear-gradient(270.01deg, #C89C34 8.72%, #FFBB1C 78.42%);
  border-radius: 5px;
}

.form-block{margin-left:300px; width:75%}

#demos{margin-right:1%;     padding: 30px 0 30px 0;
}

.outer_box_1{
background: #F5F1EB;
border-radius: 6px;
margin-bottom: 20px;

}

.inner_box1,.inner_box2,.inner_box3{
  padding: 8px 25px;

}
.inner_box1 a,.inner_box2 a,.inner_box3 a{
  text-decoration: none;
}

.inner_box1{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 14px;
letter-spacing: 0.02em;
color: #464754;
background: #fff!important;
border-radius: 6px;
}
.inner_box2,.inner_box3{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 14px;
letter-spacing: 0.02em;
color: #A69F9F;
}

.outer_box_2 {
  margin-left: 15px;
  background: #FFF;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  
  letter-spacing: 0.02em;
  border-radius: 6px;
  color: #807373;
}

.outer_box_3 .inner_option{
  margin-left: 15px;
    background: #FFF;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
    border-radius: 6px;
    color: #807373;
    height: 39px;
}
.inner_radio_text{
  padding: 8px 60px 8px 20px;
}
.outer_box_4{
  margin-left: 15px;
}
.outer_box_4 form input {
  margin-left: 15px;
  padding: 8px 196px 8px 20px;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 14px;
background: #F5F1EB;
border: 2px solid #FFFFFF;
border-radius: 6px;

letter-spacing: 0.02em;

color: #A69F9F;
}

.outer_box_4 button{
  background: none;
  border: none;
  position: absolute;
  right: 15px;
  top: 7px;
}
.outer_box_4 form{position: relative}
.fl-container{    clear: both;
  overflow: hidden;
  margin-right: 1.5%;}

/* .outer_box_1{
  width: 30%;
  overflow: hidden;
}
.outer_box_2{
  width: 16%;
  overflow: hidden;
}
.outer_box_3{
  width: 16%;
  overflow: hidden;
}
.outer_box_4{
  width: 30%;
  overflow: hidden;
} */

/* new pages----------------------------------- */
.contain{
  width: 65%;
  height: auto;
  background: #fff;
  border-radius: 10px;
  margin-right: 1.3%;
  float: left;
  /* margin-bottom: 3%; */
  /* margin-left: 24%; */
}
.contain-right{
  width: 32%;
  height: auto;

  /* float: right; */

}

.contain2{  background: #fff;
  border-radius: 10px;
  margin-right: 1.3%;
  padding: 35px;margin-bottom:20px}


.block-right{margin-top: 2%;
  margin-right: 7%;
}
.block-right img{
  padding-right: 20px;
}
.block_middle-2 p{
  padding: 7px 44px;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;


letter-spacing: 0.02em;



color: #807373;
}
.block_section_3_bg{
  padding: 6px 6px;
  margin-left: 40px;
  background: #F5F1EB;
  margin-right: 38px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  border-radius: 6px;
  color: #807373;
text-align:center

}
.img_top_right_title_block_1 p{ 
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 120%;
float: left;
margin-right: 7px;
padding: 5px 0 0px 0;
/* or 19px */



/* Light/Text/Normal */

color: #464754; 
}

.contain_block_1.fl-left
{width: 56%;
}

.img_top_right_title_block_1{
  float: left;
  margin-left: 4%;
  width: 73%;
}

.inner_img_top_right_button_block_1{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #fff;
  background: #E56060;
  padding: 0 10px;
  color: #fff;
  border-radius: 10px;
  margin-top: -7px;
  float:none;
  display: inline-block;
}
.img_bottom_right_title_block_1 span{  background: #F5F1EB;
  padding: 0 10px;
  display: inline-block;
  color: #807373;
  font-size: 11px;
  border-radius: 4px;
  font-weight: normal;margin-right:2px;
  font-size: 10px;
  line-height: 16px;
}

.block_section_1{
padding: 30px 40px;

}

.block_section_3_bg div{
  width: 33%;
  padding: 6px 0;
  border-radius: 8px;
}
.contain1_block_section_3{
  background: #fff;
}
.inner_section_4_a{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

letter-spacing: 0.02em;

/* Light/Text/Semi */

color: #807373;
}

.contain2_section3_bar.fl-left{width:100%}
.contain2_section3_bar.fl-left .box3{
  width: 100%;
  padding: 0;
  margin-top: 10px;
}


.contain2_section2_sub1{margin-right: 7px;
  margin-top: 6px;}

.inner_section_4_b{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 14px;
text-align: right;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #464754;
}
.inner_section_4_b span{
  font-weight: 500;
  font-size: 14px;
  color: #000;
}
.block_section_4 {
  padding: 20px 53px
}
.section_set_1{
  padding-top: 10px;
}

/* content2 */
.contain2_section1_sub1{
 
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

letter-spacing: 0.02em;

/* Light/Text/Semi */

color: #807373; 
}
.contain2_section1_sub2{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #00783F;
  padding: 3px 12px;
background: rgba(0, 120, 63, 0.08);

border: 0.5px dashed #00783F;
border-radius: 10px;

}
.contain2_section2_sub2 {
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 25px;

letter-spacing: 0.02em;


color: #464754;
}

.contain2_section3_sub1{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

letter-spacing: 0.02em;

/* Light/Text/Semi */

color: #807373;
}
.contain2_section3_sub2{

font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

letter-spacing: 0.02em;

/* Light/Text/Normal */

color: #464754;
}
.pg30{
  padding-top: 20px;
}
.pg20{
  padding-top: 15px;
}
.contain2_section3_sub1_sm1{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 12px;

letter-spacing: 0.02em;


color: #807373;
}


/* app3====================================== */
.contain_section5_timer_day {width:24%; float:left; text-align:Center;
}
.contain_section5_timer_dot{width:1%; text-align:center; float:left}

 
/*  */
.contain2_section3_sub2_sm2{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 12px;

letter-spacing: 0.02em;


color: #A69F9F;
}
.contain2_section4_middle button{
  padding: 13px 90px;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #FFFFFF;
background: #00783F;
border-radius: 6px;
border: none;
}
.contain2_section4_middle{
  padding-top: 15px;
}
.contain2_section5{
  padding-top: 15px;
}
.contain_section5_middle{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #807373;
text-align: center;
}
.hr_inner hr{
  opacity: 0.3;

border: 1px dashed #A69F9F;
}

/* pages3--------------- */
.contain3{
  width: 30%;
  height: auto;
  background: #fff;
  border-radius: 10px;
  margin-right: 1.3%;
  padding: 35px;
  margin-top: -22%;
  
  /* float: right; */

}
.contain3_section_heading{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;


letter-spacing: 0.02em;
text-transform: capitalize;

text-align: center;

color: #00783F;
}
.contain3_section_heading hr{

align-items: center;
  opacity: 0.5;
border: 1px solid #00783F;
}
.contain3_section_subpart1 {

font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #807373;
}
.contain3_section_subpart2{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 120%;
text-align: right;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #464754;
}
.pd-20px{
  padding-bottom: 0px;
}
.contain3_section_inner_block hr{
  opacity: 0.3;
border: 1px dashed #A69F9F;
}
.contain3_section_middle button{
  padding: 13px 100px;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #FFFFFF;
background: #00783F;
border-radius: 6px;
border: none;
}

/* pages 4-------------------- */
.contain2_section4_middle_black button{
  padding: 13px 121px;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #FFFFFF;
background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #A69F9F;;
border-radius: 6px;
border: none;
}
.contain3_section_middle_done button{
  padding: 13px 123px;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #FFFFFF;
border-radius: 6px;
border: none;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #00783F;;
}
.contain2_section1_sub2_end{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #464754;
  padding: 3px 12px;
  background: rgba(70, 71, 84, 0.08);


border: 0.5px dashed #464754;
border-radius: 10px;
}

/* pages 5-------------------- */

@media only screen and (max-width: 767px) {
  .In_box {
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 2rem;
    margin-right: 10%;
    margin-top:20px;
    float: left;
}
  .outer_box {
    width: 97%;
    clear: both;
    overflow: hidden;
    margin: 0 auto;
}

}



